{% extends 'base.html.twig' %}

{% block body %}
    <div class="navBack">
        <ul>
            <li class="{% if createQuizz is defined %}active{% endif %}"><a href="{{ path("new_quizz" )}}">Nouveau Quizz</a></li>
            <li class="{% if displayQuizz is defined %}active{% endif %}"><a href="{{ path("all_quizz" )}}">Tout les Quizz</a></li>
            <li class="{% if listUser is defined %}active{% endif %}"><a href="{{ path("user_datas" )}}">Données utilisateurs</a></li>
        </ul>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/slick/slick.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('javascript/createQuizz.js') }}" type="text/javascript"></script>
    <script src="{{ asset('javascript/detailQuizz.js') }}" type="text/javascript"></script>
{% endblock %}
