{% extends 'back/backMenu.html.twig' %}

{% block content %}
    <h2 id="title">{{ quizz.title }}</h2>

    <div class="infoQuizz">
        {% if formQuizz is not null %}
            <div class="formBoxBack">
                <div id="successQuizzSave">
                    Changements sauvegardés
                </div>
                <div id="errorQuizzSave" class="error hidden">
                    Attention les information entrées ne sont pas valides. Un seul quizz peut être actif en même temps.
                </div>
                {{ form_start(formQuizz) }}
                <div class="input">{{ form_label(formQuizz.title) }}<br>{{ form_widget(formQuizz.title) }}</div>
                <div class="input">{{ form_label(formQuizz.description) }}<br>{{ form_widget(formQuizz.description) }}</div>
                <div class="input">{{ form_label(formQuizz.giftText) }}<br>{{ form_widget(formQuizz.giftText) }}</div>
                <div class="input">{{ form_label(formQuizz.giftImg) }}<br>{{ form_widget(formQuizz.giftImg) }}</div>
                {% if quizz.giftImg is not null %}
                    <div class="quizzGiftImg">
                        <div>Image actuelle :</div>
                        <img src="{{ asset(quizz.getWebPath) }}" alt="Lot gagnant"> <br>
                        <a class="button" onclick="setDeleteImage($(this));">Supprimer l'image</a>
                    </div>
                {% endif %}
                <div class="input">{{ form_label(formQuizz.datetimeStart) }}<br>{{ form_widget(formQuizz.datetimeStart) }}</div>
                <div class="input">{{ form_label(formQuizz.datetimeEnd) }}<br>{{ form_widget(formQuizz.datetimeEnd) }}</div>
                <div class="input"><br>{{ form_widget(formQuizz.Valider) }}</div>
                <input type="hidden" name="ajax" value="1">
                <input type="hidden" value="0" name="deleteImg" id="deleteImg">
                {{ form_end(formQuizz) }}
            </div>
        {% else %}
            <h3>Récompense</h3>
            {% if quizz.giftImg is not null %}
                <img src="{{ asset(quizz.getWebPath) }}" alt="quizzImg" class="allQuizzImg">
            {% endif %}
            <p>{{ quizz.giftText }}</p>
            <h3>Description</h3>
            <div>{{ quizz.description }}</div>
            <h3>Dates</h3>
            <div>Début le {{ quizz.dateStart|date('d/m/Y') }}</div>
            <div>Fin le {{ quizz.dateEnd|date('d/m/Y') }}</div>
            {% if quizz.resultats|length > 0 %}
                <h3>Résultats</h3>
                <div>Nombre de résultat : {{ quizz.resultats|length }}</div>
            {% endif %}
        {% endif %}
    </div>

    <div id="quizzAllQuestions" class="quizzAllQuestions">
        {% for question in quizz.questions %}
                {% if isPassed == false %}
                    {{ render(controller('AppBundle:Back:newQuestion',{'idQuizz':quizz.id,'idQuestion':question.id,'ajax':1})) }}
                {% else %}
                    <div class="titleBoxBack questionName">Question n°{{ loop.index }}</div>
                    <div class="questionContent">
                        <div class="questionTitle">{{ question.description }}</div>
                        {% if question.imgPath is not null %}<div><img src="{{ asset(question.getWebPath) }}"></div>{% endif %}
                        {% if question.videoPath is not null %}<div><iframe width="560" height="315" src="{{ question.getVideoPath }}" frameborder="0" allowfullscreen></iframe></div>{% endif %}
                        <div>
                            {% for reponse in question.reponses%}
                                <div class="responseDiv"> Réponse {{ loop.index }} : {{ reponse.description }} <div>Valide : {% if reponse.valid == true %}oui{% else %}non{% endif %}</div></div>
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}
        {% else %}
            <div class="noQuestion">Ce Quizz ne contient aucune question</div>
        {% endfor %}
    </div>

    {% if isPassed == false %}
        <div class="newQuestion">
            {{ render(controller('AppBundle:Back:newQuestion',{'idQuizz':quizz.id,'ajax':1})) }}
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            $('.sliderQuizz').slick({
                infinite: false,
                slidesToShow: 2,
                slidesToScroll: 2
            });
        });
    </script>
{% endblock %}
