{% extends 'back/backMenu.html.twig' %}

{% block content %}
    <h2>Liste des utilisateurs</h2>

    <form action="{{ path('user_datas') }}" method="post">
        <label for="searchName">Chercher un utilisateur(nom) : </label>
        <input id="searchName" name="search" type="text">
        <input type="submit" value="Rechercher">
    </form>

    {% for user in users %}
        {{ user.nom }} | {{ user.prenom }} | {{ user.birthday|date("d/m/Y") }} | {{ user.email }} | {{ user.gender }}
        <a href="{{ path('deleteUser',{'id':user.id}) }}">Supprimer l'uilisateur</a>
        <br>
    {% endfor %}
    {% if offset > 0 %}
        <a href="{{ path('user_datas', {'offset':offset-limit,'search':search}) }}">Précédent</a>
    {% endif %}
    {% if offset + limit < nbUser %}
        <a href="{{ path('user_datas', {'offset':offset+limit,'search':search}) }}">Suivant</a>
    {% endif %}

    <a href="{{ path('exp_user_data') }}">export au format CSV</a>
{% endblock %}

