{% extends 'back/backMenu.html.twig' %}

{% block content %}
    <h2>Liste des Quizz</h2>

    <div class="sliderQuizz">
        {% for quizz in quizzs %}
            <div class="oneQuizz">
                <h3>{{ quizz.title }}</h3>
                {% if quizz.giftImg is not null %}
                    <img src="{{ asset(quizz.getWebPath) }}" alt="quizzImg" class="allQuizzImg">
                {% endif %}
                <div class="quizzDatas">
                    <p>{{ quizz.description }}</p>
                    <div><span class="bold">Début le </span>{{ quizz.dateStart|date('d/m/Y') }}</div>
                    <div><span class="bold">Fin le </span>{{ quizz.dateEnd|date('d/m/Y') }}</div>
                    {% if quizz.resultats|length > 0 %}<div>Nombre de résultat : {{ quizz.resultats|length }}</div>{% endif %}
                    <div class="quizzLink"><a href="{{ path('quizz_details',{'idQuizz':quizz.id}) }}">Détails du quizz</a></div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            $('.sliderQuizz').slick({
                infinite: false,
                slidesToShow: 4,
                slidesToScroll: 4
            });
        });
    </script>
{% endblock %}