{% extends 'back/backMenu.html.twig' %}

{% block content %}
    <h2>Liste des utilisateurs</h2>

    <form class="searchUserForm" action="{{ path('user_datas') }}" method="post">
        <label for="searchName">Chercher un utilisateur(nom) : </label>
        <input id="searchName" name="searchName" type="text">
        <input type="submit" class="searchButton" value="Rechercher">
    </form>

    <a class="button" href="{{ path('exp_user_data') }}">Export au format CSV</a>

    <div class="userRow userRowHeader">
        <div class="userCell">Nom</div><div class="userCell">Prenom</div> <div class="userCell">Age</div> <div class="userCell">Mail</div> <div class="userCell">Sexe</div>
    </div>
    {% for user in users %}
        <div class="userRow">
            <div class="userCell">{{ user.nom }}</div><div class="userCell">{{ user.prenom }}</div> <div class="userCell">{{ user.birthday }}</div> <div class="userCell">{{ user.email }}</div> <div class="userCell">{{ user.gender }}</div> <div class="userCell"><a href="{{ path('deleteUser',{'id':user.id}) }}">Supprimer l'uilisateur</a></div>
        </div>
    {% endfor %}
    <div class="userOptions">
        {% if offset > 0 %}
            <a href="{{ path('user_datas', {'offset':offset-limit,'search':search}) }}">Précédent</a>
        {% endif %}
        {% if offset > 0 and offset + limit < nbUser %}
             -
        {% endif %}
        {% if offset + limit < nbUser %}
            <a href="{{ path('user_datas', {'offset':offset+limit,'search':search}) }}">Suivant</a>
        {% endif %}
    </div>

{% endblock %}

