{% if question.id is not null %}
    <div class="titleBoxBack questionName">Question n°{{ nbQuestion }}</div>
    <div class="quizzQuestion">
{% endif %}
        {% if question.id is null %}<div id="newQuestionTitle" class="titleBoxBack {% if newSaved is defined %}questionName{% endif %}">Question n°{{ nbQuestion }}</div>{% endif %}
        <div class="formBoxBack">
        {{ form_start(form) }}
        <div class="validSuccess">
            Changements sauvegardés
        </div>
        <div class="input">{{ form_label(form.description) }}<br>{{ form_widget(form.description) }}</div>
        {% if question.imgPath is not null %}
            <a>
                <img src="{{ asset(question.getWebPath) }}" alt="Lot gagnant">
                <div>
                    <a class="button" onclick="setDeleteImage($(this));">Supprimer l'image</a>
                </div>
            </div>
        {% endif %}
        <div class="input">{{ form_label(form.imgPath) }}<br>{{ form_widget(form.imgPath) }}</div>
        <div class="input">{{ form_label(form.videoPath) }}<br>{{ form_widget(form.videoPath) }}</div>
        <div class="input">{{ form_widget(form.quizz) }}</div>
        <div class="spaceBar"></div>
        <div class="input">{{ form_label(form.response1) }}<br>{{ form_widget(form.response1) }}<br>
            {{ form_label(form.correct1) }}{{ form_widget(form.correct1) }}</div>
        <div class="input">{{ form_label(form.response2) }}<br>{{ form_widget(form.response2) }}<br>
            {{ form_label(form.correct2) }}{{ form_widget(form.correct2) }}</div>
        <div class="input">{{ form_label(form.response3) }}<br>{{ form_widget(form.response3) }}<br>
            {{ form_label(form.correct3) }}{{ form_widget(form.correct3) }}</div>
        <div class="input">{{ form_label(form.response4) }}<br>{{ form_widget(form.response4) }}<br>
            {{ form_label(form.correct4) }}{{ form_widget(form.correct4) }}</div>
        <div class="input"><br>{{ form_widget(form.Valider) }}</div>
        <input type="hidden" value="1" name="ajax">
        <input type="hidden" value="0" name="deleteImg" id="deleteImg">
        {{ form_end(form) }}
    </div>
{% if question.id is not null %}
    </div>
{% endif %}
