<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="{{ asset('images/deliquizzLogoMin.ico') }}">
        <title>{% block title %}DeliQuizz{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('stylesheets/main.css') }}" />
        <link rel="stylesheet" href="{{ asset('stylesheets/jquery-ui.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('stylesheets/jquery.datetimepicker.css') }}" />
        <link rel="stylesheet" href="{{ asset('stylesheets/spin.css') }}" />
        <link rel="stylesheet" href="{{ asset('stylesheets/slick.css') }}" />
        <link rel="stylesheet" href="{{ asset('stylesheets/slick-theme.css') }}" />
    </head>
    <body>
        <nav>
            {% if app.session.get('roleUser') == 'admin' %}
                <a class="headerButton" href="{{ path('back_menu') }}">Administration</a>
            {% endif %}
            <span id="nav_title"><a href="{{ path('homepage') }}">DELIQUIZZ</a></span>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('javascript/jquery-2.2.0.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('javascript/jquery-ui-1.11.4/jquery-ui.js') }}" type="text/javascript"></script>
            <script src="{{ asset('javascript/datetimepicker/build/jquery.datetimepicker.full.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('javascript/jquery.form.js') }}" type="text/javascript"></script>
            <script src="{{ asset('javascript/frontQuizz.js') }}" type="text/javascript"></script>

        {% endblock %}
    </body>
</html>
