{% extends 'base.html.twig' %}

{% block body %}
    <div class="cadre cadre1">
        <div class="title">
            {{ quizz.title }}
        </div>
        <div class="description">
            {{ quizz.description }}
        </div>
        {% if quizz.giftImg is not null and quizz.giftText is not null%}
            <div class="img_lot">
                <img src="{{ asset(quizz.getWebPath) }}" alt="Lot gagnant"/>
            </div>
        {% endif %}
        <div class="lot">
            {{ quizz.giftText }}
        </div>
    </div>
    <div class="cadre cadre2">
        <ul class="liste">
            {% for resultat in lastQuizz.resultats %}
            <li>
                {% if loop.index!=11 %}
                    {{ loop.index }}
                {% else %}
                    </br> {{ classement }}
                {% endif %}
                . {{ resultat.user.nom }} {{ resultat.user.prenom }}</li>
            {% endfor %}
            </br><li><a href="#">Voir plus ...</a></li>
        </ul>
    </div>
{% endblock %}